{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": ["wesbos/typescript"],
    "rules": {
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unsafe-member-access": "off",
        "@typescript-eslint/no-unsafe-assignment": "off",
        "@typescript-eslint/no-unsafe-argument": "off",
        "@typescript-eslint/no-unsafe-call": "off",
        "no-unused-vars": 0,
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": ["error"],
        "react/prop-types": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "no-use-before-define": "off",
        "no-nested-ternary": "off"
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"]
            }
        }
    }
}
